{%extends 'app/layout.html'%}
{% load static %}
 {% block body %} style="  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; background-image: url({%static '/app/images/25.jpg'%});" {%endblock%}
{% block head %}

{% endblock %}
{%block content %} 

 <br> <br><br> <br>  
  
           
    
    <center>
       <div id="contactus" style="background:rgba(255,255,255,.5); width: 80%; height:50%;" >
        <h2 style="padding:15px;"><font color=red style="float:left; " >CONTACT INFORMATION</font></h2><br>
        <h3><font color=green style="float:left; " >Hotels - 9144662628</font></h3><br>
        <h3><font color=green style="float:left; " >Corporate Office-7000200885</font></h3><br> <h3><font color=green style="float:left; " >Global sales office-7000853863</font></h3><br>
         <h2 style="padding:15px;"><font color=red style="float:left; " >PROVIDE YOUR VALUABLE FEEDBACK</font></h2><br>
         <h3><font color=green style="float:left; " >Hotel feedback and suggestions-- PRIYANSHJAIN200@GMAIL.COM</font></h3><br>
        <h3><font color=green style="float:left; " >Website feedback and suggestions--PRIYANSHJAIN108@GMAIL.COM</font></h3>
        
       </div>
    </center>

{%endblock %}